<!DOCTYPE html>
<html>
<head>
    <title>Task 1</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <h1>Welcome to My MERN Internship</h1>
  <header class="hero">

    

    <p>Learn HTML, CSS, JavaScript, Node.js and Express through practical projects.</p>

    <a href="#register" class="btn">Register Now</a>

   </header>
  <section class="about">

    <h2>About</h2>

    <p>
        This internship helps students learn full stack web development.
        You will build projects using HTML, CSS, JavaScript, Node.js,
        Express and MongoDB.
    </p>

  </section>
  <section class="services">

    <h2>Technologies You'll Learn</h2>

    <div class="cards">

        <div class="card">HTML</div>

        <div class="card">CSS</div>

        <div class="card">JavaScript</div>

        <div class="card">Node.js</div>

        <div class="card">Express.js</div>

    </div>

  </section>
  <section id="register">
    <form action="/submit" method="POST">

        <input type="text"
               id="name"
               name="name"
               placeholder="Enter Name"
               required>

        <br><br>

        <input type="email"
               id="email"
               name="email"
               placeholder="Enter Email"
               required>

        <br><br>

        <input type="tel"
               id="mobile"
               name="mobile"
               placeholder="Enter Mobile Number"
               pattern="[0-9]{10}"
               maxlength="10"
               required>

        <br><br>       
        <input type="password"
                id="password"
               name="password"
               placeholder="Enter Password"
               required>
        <button type="button" id="togglePassword">Show</button>
        <p id="strength"></p>
        <br><br>
        <input type="password"
               id="confirmPassword"
               name="confirmPassword"
              placeholder="Confirm Password"
              required>

        <button type="button" id="toggleConfirmPassword">Show</button> 
        <p id="message"></p> 
        <br><br>   
        <button type="submit">Submit</button>

    </form>
  </section>
   <section class="contact">

    <h2>Contact</h2>

    <p>Email: 786shaay@gmail.com</p>

    <p>Phone: +91 7742812245</p>

   </section>
    <% if(submitted){ %>

        <hr>

        <h2>Submitted Data</h2>

        <p><strong>Name:</strong> <%= name %></p>

        <p><strong>Email:</strong> <%= email %></p>

         <p><strong>Mobile:</strong> <%= mobile %></p>

        
         
       
        

    <% } %>

    <script src="/js/script.js"></script>
 <footer>

    <p>© 2026 MERN Internship. All Rights Reserved.</p>

 </footer>
</body>
</html>