body{

    font-family: Arial, sans-serif;

    text-align:center;

    margin-top:60px;

    background:#f5f5f5;

}

form{

    display:inline-block;

    padding:20px;

    background:white;

    border-radius:10px;

    box-shadow:0px 0px 10px gray;

}

input{

    width:250px;

    padding:10px;
    box-sizing:border-box;

}

button:not(.eye-btn){

    padding:10px 20px;

    cursor:pointer;
    
    transition: all 0.3s ease;
}

button:not(.eye-btn):hover{

    background-color:#007bff;

    color:white;

    transform:scale(1.05);

}

a{

    text-decoration:none;

    color:blue;

    transition:color 0.3s ease;

}

a:hover{

    color:red;

}

@keyframes fadeIn{

    from{

        opacity:0;

        transform:translateY(-20px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

h1{

    animation:fadeIn 1s ease;

}

@media (max-width:768px){

    body{

        margin-top:20px;

    }

    form{

        width:90%;

    }

    input{

        width:90%;

    }

    h1{

        font-size:32px;

    }

}
.password-container{
    position: relative;
    width: 250px;
    margin: 0 auto 20px;
}

.password-container input{
    width:100%;
    height:42px;
    padding:10px 40px 10px 10px;
    box-sizing:border-box;
}

.eye-btn{
    position:absolute;
    top:50%;
    right:12px;
    transform:translateY(-50%);
    background:none;
    border:none;
    padding:0;
    margin:0;
     width: auto;
    height: auto;
    cursor:pointer;
    color:gray;
    font-size:18px;
    line-height: 1;
}


.eye-btn:hover{
    color:black;
}

.eye-btn:focus{
    outline: none;
}
.user-card{
    width:300px;
    margin:15px auto;
    padding:15px;
    background:white;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}